body{
    font-weight: bold;
    font-size:1.5rem;
    margin: 20px;
    background-image: url('../img/background-main4.jpg');
    background-size: cover;
    min-height: 100vh;

}
.container{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "navBar title"
                          "navBar main"

;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: title;
    font-style: italic;
    text-decoration-line:underline ;
    border: 1px solid darkkhaki;
    border-radius: 20px;
    padding: 1%;
}

img{
    width: 100%;
    height: 250px;
}
.embed-div{
    grid-area: website;
    height: 100%;
}
embed{
    width: 100%;
    height: 80vh;
}

.nav-bar{
    grid-area: navBar;
    display: flex;
    flex-direction: column;
}

.main{
    grid-area: main;
    height: 100%;
    margin: 1%;
}
p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.btn{
}
input{
    height: 30px;
    width: 100%;
    background-color: black;
    margin: 5px 0 5px 0;
    color: white;
}
a {
    color: black;
}
h1{
    font-size: 52px;
    text-align: center;
    margin-left: 10px;
}
a:hover{
    font-size: 1.5rem;
    text-decoration: none;
    color: red;
}

@media (max-width: 600px) {
    img{
        width: 100%;
        height: 150px;
    }
    .container{
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-areas: "navBar navBar"
                          "title title"
                          "main main"

    ;
    }
}