div{
    margin: 10px;
    font-size: 1.3rem;
}
#radio-div{
    margin: 0;
}
.make-flex{
    display: flex;
}
table{
    grid-area: table;
    width: 100%;
}
table{
    margin: 20px;
    width: 80%;
}
table th{
    background-color: darkslategray;
    color: white;
    text-align: left;
}
.displayed-div-css{
    margin: 3px 3px 8px 3px;
    font-size: 1.2rem;
    border: 2px solid black;
    padding: 6px;
}
a{
    color: blue;
    text-decoration:underline ;
    cursor: pointer;
}